[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dask = "*"
pandas = "*"
numpy = "*"
ipykernel = "*"
distributed = "*"
fastparquet = "*"
pyarrow = "*"
selenium = "*"
bs4 = "*"
webdriver-manager = "*"
charset-normalizer = "*"
glob2 = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
stats = "*"
tableone = "*"

[dev-packages]

[requires]
python_version = "3.9"
